<div align='center' class='jumbotron'>
  <p><%= link_to(image_tag("brand.gif", :alt => "happypath logo"), root_path) %></p>
  <h4>“Whether our action is wholesome or unwholesome depends on whether that action or deed arises from a disciplined or undisciplined state of mind. It is felt that a disciplined mind leads to happiness and an undisciplined mind leads to suffering...” </h4>
  <p>― Dalai Lama XIV, The Art of Happiness</p><br/>
  <hr>
  <h2>Find your happypath, one footstep at a time.</h2>
  <h4>An objective-oriented app to track your steps toward enlightenment.</h4>
  <p>Create your own footsteps. Mark them as you complete them.<br/> 
  Share them with the community or keep them private.<br/>
  Get inspired by the community. <br/>
  See the path that others take, add their footsteps to your path.<br/> 
  Encourage each other through comments. </p>
</div>



